# Creating connection to the database

In [2]:
import mysql.connector

In [3]:
try:
    conn=mysql.connector.connect(host='localhost',user='root',password='suhas1995',database='sk')
except mysql.connector.Error as err:
    print("error could not make connection")
    print(err)

# Using connection getting cursor that can execute the queries

In [4]:
try:
    cur=conn.cursor()
except mysql.connector.Error as err:
    print("error could not get cursor to database")
    print(err)

# Setting auto commit to true so each action is commited without having to call conn.commit() after each command

In [7]:
cur.autocommit = True
cur.autocommit
True

True

# Creating a database to do the work

In [8]:
try:
    cur.execute('create database sk')
except mysql.connector.Error as err:
    print("error could not created database")
    print(err)

error could not created database
1007 (HY000): Can't create database 'sk'; database exists

In [19]:
try:
    conn.close()
except mysql.connector.Error as err:
    print("error could not close ")
    print(err)

try:
    conn=mysql.connector.connect(host='localhost',user='root',password='suhas1995',database='sk')
except mysql.connector.Error as err:
    print("error could not make connection")
    print(err)
    
try:
    cur=conn.cursor()
except mysql.connector.Error as err:
    print("error could not get cursor to database")
    print(err)

# Creating table for the data
Student_id

Name

age

gender

subject

marks

In [10]:
try:
    cur.execute("CREATE TABLE IF NOT EXISTS students(student_id int, name varchar(250),\
    age int,gender varchar(250),subject varchar(250),marks int);")
except mysql.connector.Error as err:
    print("error could not create table")
    print(err)

# Inserting rows in table
1st row: 1, 'Suhas', 22, Male, Python, 75

2nd row: 2, 'Pavan', 23, Male, Python, 80

In [17]:
try:
    cur.execute("INSERT INTO students(student_id, name, age, gender, subject, marks)\
                VALUES(%s, %s, %s, %s, %s, %s)",
                (1, "Suhas", 22, "Male", "Python", 75));
except mysql.connector.Error as err:
    print("error in inserting value")
    print(err)  

try:
    cur.execute("INSERT INTO students(student_id, name, age, gender, subject, marks)\
                VALUES(%s, %s, %s, %s, %s, %s)",
                (1, "Pavan", 23, "Male", "Python", 80));
except mysql.connector.Error as err:
    print("error in inserting value")
    print(err)
    
conn.commit()

In [12]:
try:
    cur.execute("SELECT * FROM students;")
except mysql.connector.Error as err:
    print("error table not created")
    print(err)

row=cur.fetchone()
while row:
    print(row)
    row=cur.fetchone()

(1, 'Suhas', 22, 'Male', 'Python', 75)
(1, 'Pavan', 23, 'Male', 'Python', 80)

# closing connection and cursor

In [18]:
cur.close()
conn.close()